input:focus, input.form-control:focus {
    box-shadow: none;
    outline-color: black;
}

.main {
}

.smooth-transition {
    transition: all .5s;
}

.smooth-transition:hover {
    transition: all .3s;
}
